:root {
    --amarelo: #F2A444;
    --laranja: #F25C05;
    --tomate: #D90404;
    --vermelho: #A60303;
    --branco: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

body {
    background-image: url(tomates2.jpg);
    background-size: cover;
    color: var(--branco);
    letter-spacing: 1.2px;
}

.focusWatch {
    text-align: center;
    background-color: var(--tomate);
    width: 100%;
    max-width: 360px;
    margin: 5rem auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #F2A444;
}

.breakWatch {
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--laranja);
    width: 100%;
    max-width: 280px;
    margin: 3rem auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #F2A444;
}

.time {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    appearance: none;
    background: none;
    border: none;

    display: inline-block;
    cursor: pointer;
    background-color: var(--branco);
    color: var(--tomate);
    margin: 0 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: 0 9px rgb(255, 131, 131);
}

button:hover {background-color: #ffcccc;}

button:active {
    box-shadow: 0 4px rgb(255, 131, 131);
    transform: translateY(4px);
}

.cycles {
    display: flex;
    background: var(--amarelo);
    padding: 1rem 1rem;
    margin-top: 8rem;
}

#register {
    display: flex;
}

#register div {
    padding-right: 1.5rem;
    text-shadow: 1.5px 1.5px 2px #F25C05;
}

h2 {
    padding-right: 2.5rem;
    text-shadow: 2px 2px rgb(255, 44, 44);
}