@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #14181c url(background.png) repeat-x;
}

.nav {
    display: flex;
    background: #202830;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 40px;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

#root {
    margin-top: 100px;
    margin-bottom: 44px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container > h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 20px auto 0px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    width: 330px;
    color: #9ab;
    border:#202830 3px solid;
    margin: 10px;
    border-radius: 5px;
}

.nav img {
    max-height: 4.5rem;
    margin-right: -5px;
}

.nav h1 {
    font-size: 2.5rem;
    margin: 15px 0;
}

.card h3, h2, p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

.card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    color: #00c030;
}

.card h3 {
    font-size: 1.7rem;
    margin-bottom: 5px;
}

.card p {
    font-size: 1.3rem;
}

.card span {
    color:#ffffff;
}

.card > img {
    width: auto;
    height: 400px;
    margin: 5px 0;
    object-fit: cover;
    object-position: top;
}

.star > img {
    width: auto;
    height: 22px;
    vertical-align: -1.7px;
    margin-right: 5px;
}

.eye > img {
    width: auto;
    height: 27px;
    vertical-align: -7px;
    margin-right: 5px;
}

@media (max-height: 780px) {
    .eye > img {
        height: 26px;
    }

    .star > img {
        height: 20px;
    }

    .card > img {
        height: 300px;
        object-position: top;
    }

    .card p {
        font-size: 1.2rem;
    }

    .card h3 {
        font-size: 1.3rem;
    }

    .card {
        padding: 8px 16px;
        width: 260px;
    }
}